@charset "UTF-8";
@import "./fonts.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 1132px;
  margin: 0 auto;
  padding: 0 10px;
}

.invalid {
  border: 1px solid #d42626 !important;
}
.helper-text__invalid {
  display: block;
  color: #d42626;
}